<div class="container">
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
    </script>
    <div class="caixa-login">
        <div class="login">
            <div class="column">
                <h2 style="margin-top: 5px;">Seja Bem-Vindo</h2>
                <h3 style="display:flex; justify-content: center;">ao sistema</h3>
                <h3 style="display:flex; justify-content: center;">Black Tracker</h3>

                <hr style="background-color: #fff;">
                <br>
                <br>             

                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label for="usernameLabel">UserName</label>
                        <input type="text" class="form-control" id="username" aria-describedby="emailHelp" 
                        placeholder="Digite seu UserName" formControlName="userName">
                        <!-- <small id="username" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>

                    <div class="form-group">
                        <label for="emailLabel">Email</label>
                        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" 
                        placeholder="Digite seu email" formControlName="email">
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>
    
                    <div class="form-group">
                        <label for="passwordLabel">Password</label>
                        <input type="password" class="form-control" id="inputPassword" 
                        placeholder="Digite sua Password" formControlName="password">
                    </div>

                    <br>

                    <button type="submit" class="btn btn-primary btn-lg btn-block" >Entrar</button>
                    <button type="submit" class="btn btn-primary btn-lg btn-block" >Cadastrar</button>

                    <h1>{{ loginModelDTO.id }}</h1>
                    <h1>{{ loginModelDTO.userName }}</h1>
                    <h1>{{ loginModelDTO.email }}</h1>
                    <h1>{{ loginModelDTO.perfil }}</h1>

                </form>                

            </div>            

        </div>
        
    </div>
    
    
    

</div>


