<div class="container">
    <div class="caixa-login">
        <div class="login">
            <div class="column">
                <h2 style="margin-top: 5px;">Seja Bem-Vindo</h2>
                <h3 style="display:flex; justify-content: center;">ao sistema</h3>
                <h3 style="display:flex; justify-content: center;">Black Tracker</h3>

                <hr style="background-color: #fff;">
                <br>
                <br>

             

                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">UserName</label>
                        <input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Digite seu UserName">
                        <!-- <small id="username" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu email">
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>
    
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Digite sua Password">
                    </div>

                    <br>

                    <button type="submit" class="btn btn-primary btn-lg btn-block" >Entrar</button>
                    <button type="submit" class="btn btn-primary btn-lg btn-block" >Cadastrar</button>

                    <h1>{{ loginModelDTO.id }}</h1>
                    <h1>{{ loginModelDTO.userName }}</h1>
                    <h1>{{ loginModelDTO.email }}</h1>
                    <h1>{{ loginModelDTO.perfil }}</h1>

                </form>                

            </div>            

        </div>
        
    </div>
    
    
    

</div>


